@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body, html {
    font-family: "Kumbh sans", sans-serif;
    height: 100%;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#bodyContainer {
    height: 100%;
    overflow: hidden;
    background-color: #3F3F3F;
    padding-top: 15vh;
}

/*
    MAIN CONTENT STUFF
*/

div.main-content-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-content-container img {
    width: auto;
    height: 25vh;
    border-radius: 2vh;
    margin-left: 50%;
}

div.about-me-paragraph-container {
    color: white;
    background-color: #2E2E2E;
    width: 50%;
    padding: 0;
    border-radius: 10px;
    padding: 20px;
}

.about-me-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    margin:0;
    padding:0;
}

/*
    BUTTON LIST STUFF
*/

.buttons-list-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons-list {
    list-style: none;
}

.buttons-list > li > button {
    
}