@use "./colors";

.about-me {
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__portrait {
    font-size: 0.5rem;
    font-weight: bold;
    white-space: pre;
  }

  &__body {
    font-size: 1.25rem;
    width: max-content;
  }

  &__body-title {
    font-weight: bold;
  }

  &__label {
    // color: colors.$subtext1;
    font-weight: bold;
  }

  &__label-text {
    color: colors.$subtext1;
  }

  &__socials {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 0.5em;
  }

  &__social-link {
    fill: colors.$text;

    &:hover > svg {
      fill: lighten(colors.$text, 25%);
    }

    > svg {
      aspect-ratio: 1;
      height: 2em;
      width: auto;
      fill: colors.$text;
    }
  }
}