@use "./colors";

.header {
  align-items: center;
  // font-size: calc(0.75rem + 1.5vh); TODO: figure out proper font scaling
  font-size: clamp(0.5rem, 4.3vw, 1.5rem);

  position: relative;
  color: colors.$green;

  &__colon, &__dollar, &__command-text {
    color: colors.$overlay0;
  }

  &__dollar {
    margin-right: 0.5em;
  }

  &__tilda {
    color: colors.$blue;
  }

  &__cursor {
    display: inline-block;
    background: colors.$overlay0;
    height: 1em;
    width: 0.5em;
  }

  &__cursor--flashing {
    animation-name: flashing-cursor;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    position: relative;
    top: 0.125em;
  }
}

.mobile .header {
  margin: 1rem;
}

@keyframes flashing-cursor {
  0% {opacity: 1;}
  50% {opacity: 1;}
  51% {opacity: 0;}
  100% {opacity: 0;}
}