@use "./colors";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  font-family: "JetBrains Mono", monospace;
  // line-height: 1.5;
  // font-weight: 400;
  font-size: 1rem;

  // color-scheme: light dark;
  color: colors.$text;
  background-color: colors.$base;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  margin: 0;
}

#root {
  width: 100%;
  margin: 0;
}

.main-container {
  margin: 0 15%;

  &.mobile {
    margin: 0;
  }
}