@use "../styles/colors";

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: min(2vw, 2vh);
  margin: 1em auto;
}

.mobile .projects {
  // this is probably not great but oh well.
  flex-grow: 1;
  // flex-direction: column;
  // justify-content: initial;
  display: initial;
  overflow-y: scroll;
  width: min(100%, 500px);
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 0.75em;
  width: 170px;
  min-width: 170px;

  background: colors.$crust;
  border: 2px solid colors.$surface2;
  border-radius: 10px;

  color: colors.$subtext1;
  font-size: 1.1rem;

  &__title-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    flex-grow: 1;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    height: 80px;
  }

  &__img {
    display: inline-block;
    aspect-ratio: 1;
    height: 100%;
    width: auto;
    border-radius: 10px;
    border: 2px solid colors.$surface2;
    background: lighten(colors.$base, 3%);
  }

  &__open-button {
    box-sizing: border-box;
    text-decoration: none;
    background: colors.$mantle;
    border: 2px solid colors.$surface2;
    border-radius: 8px;
    padding: 0.1em 1em;
    color: colors.$subtext1;

    &:hover {
      background: lighten(colors.$mantle, 5%);
    }
  }
}

.mobile-project-card {
  background: colors.$crust;
  border-radius: 10px;
  border: 2px solid colors.$surface2;
  width: 100%;
  overflow-x: hidden;
  padding: 0.75em;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 25% 65% 10%;
  margin-bottom: 1em;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__img {
    border: 2px solid colors.$surface2;
    border-radius: 10px;
    // height: 100%;
    aspect-ratio: 1;
    height: auto;
    width: 100%;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // flex-grow: 1;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
  }

  &__links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__link {
    fill: colors.$text;
  }

  &__langs {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
  }
}