@use "./colors";

body, html {
  width: 100%;
  height: 100%;
}

body {
  background: colors.$main-bg-color;
}

.App {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  .name-title-container {
    text-align: left;
    width: 100%;
  }

  .cards-container {
    display: flex;
  }

  .stacked-cards-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}