@use "./ContentCard";

.ProjectsListCard {
  @include ContentCard.contentCard;
  grid-area: projects;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .project-cards-container {
    border: none; // Remove the border form a normal content box
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    height: 85.24%;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  button {
    border-width: 2px;
  }
}
