@use "./ContentCard";

.ProjectsListCard {
  @include ContentCard.contentCard;

  .project-cards-container {
    border: none; // Remove the border form a normal content box
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    height: 85.24%;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  button {
    border-width: 2px;
  }
}
