@use "./components/styles/normalize";
@use "./components/styles/colors";
@use "sass:math";

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins.ttf) format("truetype");
}

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins";
  color: colors.$text-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}

button {
  background: colors.$content-bg-color;
  border: 3px solid colors.$outline-color;
  color: colors.$text-color;
}

button:hover {
  cursor: pointer;
  background: darken(colors.$content-bg-color, 10%);
}

img {
  border: 3px solid colors.$outline-color;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;

  > svg {
    fill: colors.$outline-color;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
  }

  &:hover {
    > svg {
      $shadow-red: red(colors.$outline-color);
      $shadow-green: green(colors.$outline-color);
      $shadow-blue: blue(colors.$outline-color);
      $shadow-opacity: 0.75;
      filter: drop-shadow(0 0 2px rgba($shadow-red, $shadow-green, $shadow-blue, $shadow-opacity));
    }
  }
}

::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
}

::-webkit-scrollbar-thumb {
  $idle: 0.4;
  $active: 1;
  $hover: math.div($idle + $active, 2);
  
  background-color: rgba(77, 77, 77, $idle);
  
  &:hover {
    background-color: rgba(77, 77, 77, $hover);
  }

  &:active {
    background-color: rgba(77, 77, 77, $active);
  }
}

